[2013-09-05 20:20] ghost opened #6 "OutOfMemory Error in 'Google Maps Android API v2' module for Driving direction between long distance"
I have downloaded Google Maps Android API v2 and using it in my Titanium Project for Android. Map functionality is working fine. But for direction between long distance (say for example from CA to CT) I’m getting OutOfMemory Error. PFA for full log
I/dalvikvm-heap( 6852): Clamp target GC heap from 71.131MB to 64.000MB
D/dalvikvm( 6852): GC_BEFORE_OOM freed 10K, 2% free 64502K/65324K, paused 244ms,

[2013-09-11 21:32] muka opened #9 "Add support for polylines and polygon"
Hi,
I've added support for polylines and polygon in my fork
https://github.com/muka/ti.map/tree/master/android/src/ti/map

Hope could be merged in the main repository.

Regards

[2013-10-15 15:18] muka opened #14 "map view method zoom() not working (is a property)"
Hi,
on android (v2.1.3) the zoom() method (as stated in documentation) should be able to set a relative zooming level based on the current zoom level.

[code]

Altering name in ViewProxy.java from zoom() to eg. setZoom() seems to make it work as expected.
I guess that the view property zoom is "overriding" the zoom method.

Thank you

[2013-12-17 20:42] #14 closed, assigned to nobody

[2013-12-18 13:17] frodfigu opened #26 "Can´t run my project with iOS ti.map"
Adding this module on my titanium project. It throws me this error:

(on trace mode:)

duplicate symbol _OBJC_IVAR_$_TiMapAnnotationProxy.tag in:
[TRACE] :      /Users/franrodas/Documents/Titanium_Studio_Workspace/testiFarmacias/build/iphone/build/testiFarmacias.build/Debug-iphonesimulator/testiFarmacias.build/Objects-normal/i386/TiMapAnnotationProxy.o
[TRACE] :      /Users/franrodas/Documents/Tit

[2014-01-23 10:52] madrobots opened #31 "No Right/Left Button on iOS"
Can't put an image as a left/right button on an annotation.
https://jira.appcelerator.org/browse/TIMODOPEN-351

[2014-01-28 00:53] #31 closed, assigned to nobody

[2014-03-10 10:16] bitfabrikken opened #35 "Draggable annotations break if they have a custom image"
Annotations with a custom image icon can be dragged fine. But once you scroll the map, it's apparant that the annotation is no longer "stamped" to the map - it's now fixed to wherever you placed it on the screen.

[2014-05-04 05:48] madrobots opened #41 "Uniform Map.view.longclick() and Map.view.longpress()"
According the doc (http://docs.appcelerator.com/titanium/latest/#!/api/Modules.Map.View-event-longclick)

1. longclick() is only for Android and return Lat & Long
2. longpress() has disappeared but can be use in a app. However it return X and Y (pixel) of the map

It would be great to uniform this a little bit.

[2014-05-11 09:27] faroukmokrani opened #44 "Rendering problem"
Hi, thanks for this work , so i want to add a mapView to ScrollView container "multiContainer" like attached image :
![capture d ecran 2014-05-11 10 31 56](https://cloud.githubusercontent.com/assets/6905578/2938097/4c38b1a8-d8ef-11e3-987b-8e0a5bea650e.png)
but i have a blank map in the container ? what is it ? if i add the mapView in the window i get the mapView correctly .
any solutions for this.

[2014-09-25 23:05] Brian-McBride opened #56 "getRegion not working on Android"
Working on iOS, trying to use the method getRegion() or call mapView.region fails. Both are undefined.

https://developer.appcelerator.com/question/176937/android-maps-v2-getregion-function-undefined

https://jira.appcelerator.org/browse/TC-4791

[2014-09-30 09:49] mokesmokes opened #59 "Update to latest Google Play Services and fix AndroidManifest issue"
in timodule.xml the meta tag should be
`<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>`
instead of explicitly noting the version number.

[2014-10-08 16:37] junerockwell opened #63 "Satellite type works fine in iOS but shows nothing in Android"
Hi. I've checked all the requirements for ti.map module and the hybrid, normal, and satellite works fine in iOS but I didn't even do anything special in Android and only the normal one works. The satellite doesn't show anything at all except for route lines and the annotation but no satellite view like street views, etc. I'm using iPhone5s iOS8 and Android HTC One 4.4.2.

[2014-10-21 07:49] pilosof opened #66 "iOS snapshot"
am I missing something... can't take snapshot on iOS and toImage doesn't work...

[2014-10-21 07:54] #66 closed, assigned to nobody

[2014-12-12 16:53] manumaticx opened #77 "Android: How to use mapView in a Fragment?"
Hi.
I have this Drawer module [here](https://github.com/manumaticx/Ti.DrawerLayout) which uses a Fragment as the content view. This works actually fine except for the mapView. It'll raise a `ResourceNotFoundException` within the FragmentManager used in `TiUIFragment ` (I guess). You can't really backtrace it. You can see the crash-log in the [according issue](https://github.com/manumaticx/Ti.Drawe

[2014-12-16 15:10] sweco-septjh opened #78 "Unable to build module"
Hey! I am about to extend the map with some functionality but having some problems.
So i started up with checking out the latest ti.map module here, then from titanium creating a new module, open the xcode project and adding all the classes from ti.map module, then when i am trying to build the module i get the following error (in SDK 3.4.1)
The following build commands failed:
[.....] classes/TiM

[2015-02-02 17:17] manumaticx commented on #77
It even crashes when it is not wrapped in another fragment. I've tried an view-only approach with only the layout and no fragments. Same crash. I'm pretty sure this is a bug in the TiUIFragment as it says `android.content.res.Resources$NotFoundException: Unable to find resource ID #0x3e8` and this is the id given here: https://github.com/appcelerator/titanium_mobile/blob/master/android/titanium/sr

[2015-02-03 13:52] muka commented on #77
Hi, I've noticed that this happens randomly in tab groups with the same message.

As a work around (it is reported in the appcelerator jira too, somewhere) is to add the mapView instance to the container on the `open` or `focus` event.
See https://developer.appcelerator.com/question/151567/google-maps-v2-module-crashes-when-view-placed-in-tab-group
But it won't fix it, just works most of the time

[2015-02-04 23:22] mikedias commented on #9
:+1:

[2015-02-05 00:18] astjohn commented on #9
@mikedias - We currently have a branch that you might want to check out that is more or less in stable condition.

https://github.com/Sitata/ti.map/tree/drawing_longpress_fix_ios

This branch add drawing support, but also:
- Fixed the longpress event on iOS.
- Fixed the fact that the "region" property was not updating on android during map pan events as iOS does.
- Added dependency on 3.5.0.GA for

[2015-02-05 13:20] mikedias commented on #9
Hi @astjohn, thank you for the tip! I hope to see this branch in the official releases soon!

[2015-02-07 15:49] muka commented on #9
@astjohn all good from my side!

For some obscure reasons using JSON.stringify / console.log to serialize the event object from the click callback seems to freeze the execution context (probably due to some kind of recursion?)
If there is a feedback on this I'll be happy to investigate further

master branch in https://github.com/muka/ti.map is up to date
If there are no more issues, :+1:  to proc

[2015-02-20 08:30] john-dalsgaard commented on #77
+1

I am hit by the same issue. Trying to find a drawer implementation where it is not an issue - so far no luck.... - and the customer scratching on the door.... :-(

[2015-03-04 15:26] tvfoodmaps commented on #77
This issue is effecting me as well, anyone have an update?

[2015-03-13 14:21] yozef commented on #9
@muka Works nicely :)

[2015-03-23 18:21] astjohn commented on #9
@muka, Thanks. Will be submitting now. Sorry it took me so long to finally wrap this up.

[2015-04-16 04:56] ankesh27 opened #90 "Map cluster"
Does the IOS version supports Map clustering? If yes, How?

[2015-04-20 08:38] hansemannn commented on #90
As far as I know, Clustering is not supported, yet.

[2015-04-20 08:51] ankesh27 commented on #90
Okay, any other module that supports clustering ? (a google map module may be).

[2015-04-21 07:31] edelkevis opened #91 "I get the following message appears on titanium"
ti.map module does not support version 2.3.0 for android on titanium sdk

3.x o 4.x

I tried all ways

[2015-04-21 16:44] edelkevis opened #92 "ti.map module does not support version 2.3.0 for android on titanium sdk"
I tries to include module and i get this message in tía.XML

ti.map module does not support version 2.3.0 for android on titanium sdk,

[2015-04-21 16:45] #91 closed

[2015-05-11 16:19] dlewis23 opened #95 "Version 2.2.2 iOS 7 App Crash"
I've noticed now that version 2.2.2 of the iOS Maps module with cause my app to crash only on a iPad running iOS 7. On iOS 8 it works perfect no issues at all. If I change the map module down to 2.2.0 It works no problem the issue goes away.

I get this error:

[ERROR] :  The application has crashed with an uncaught exception 'NSInvalidArgumentException'.
[ERROR] :  Reason:
[ERROR] :  -[TiUIImageV

[2015-05-28 21:07] bcpi opened #100 "v2.3.1 Updating circle..."
Hi,

Thanks for adding support for drawing circles on the map!

Is there any way to update the circle once it has been added to the map?  I have a radius slider the user can move to change the radius. I'd like to have the circle on the map to adjust dynamically as the slider is moved.

Any way to do this?

Ti SDK 3.5.1, Ti.map 2.3.1, iOS

Thanks

[2015-05-29 02:34] ashcoding commented on #100
Looks like you can do this on Android easily by increasing the radius of the circle
``circ2.radius = circ2.radius +250;``

Doesn't seem to have any effect on iOS.

[2015-06-03 08:59] deltapoison opened #101 "Support for Google Maps Business SDK"
If i change the import statements from com.google.android.gms to com.google.android.m4b.maps would i be able to build the module ?

[2015-06-03 09:07] ashcoding commented on #101
There's a possibility it might but I think it's good to try and test it out.

I assume you are following the instructions here https://developers.google.com/maps/documentation/business/mobile/android/config where it mentions
[code]

[2015-06-03 10:17] deltapoison commented on #101
I had replaced imports to com.google.android.m4b.maps and added the m4b_libs.jar as library in titanium studio running on titanium-sdk version is 3.5.1.GA. I am facing build issues.

/Users/cybagemac/Documents/map_module/timap/android/src/ti/map/TiUIMapView.java:803: cannot find symbol

    [javac] symbol  : method contains(java.util.ArrayList<ti.map.PolygonProxy>,com.google.android.m4b.maps.model

[2015-06-11 22:53] bcpi opened #104 "iOS & ti.map v2.3.1: A few bugs with annotations..."
Hi,

I have a map on iOS with a pin annotation on it, that is set to draggable = true.

1. Whenever I tap on it and start dragging it, it gets dropped automatically a second later without me lifting the finger from the screen (to stop the drag gesture).  So I can only drag it in very small increments over the map canvas.

2. The  newState value reported by the "pinchangedragstate" event does not s

[2015-06-12 09:38] manumaticx commented on #77
Closing this. Regarding Ti.DrawerLayout this was solved in [#19](https://github.com/manumaticx/Ti.DrawerLayout/pull/19) and [#36](https://github.com/manumaticx/Ti.DrawerLayout/pull/36).

[2015-06-12 09:38] #77 closed

[2015-06-12 11:53] iamsteadman opened #105 "Click events don't fire for popups"
When using the Titanium map module in iOS 8 (it probably happens in earlier versions too), `click` events don't fire for annotation popups.

The view's `click` event fires when you tap the pin itself, but once you tap it and reveal the popup (with title, subtitle, left/right buttons etc), no touch events fire for that popup. This makes the map useless as you can imagine, as you lose the 'list-deta

[2015-06-22 07:25] blackcatbf opened #107 "Can't set opacity on Polygons"
Hi,

It seems that the opacity parameter for Polygons isn't active yet.
It would be great to have this feature implemented to keep map visible behind the polygons.

Thanks

[2015-06-22 15:53] manumaticx commented on #100
I came across this issue too and created a JIRA ticket: https://jira.appcelerator.org/browse/AC-175

[2015-06-30 11:09] FokkeZB commented on #107
You can set the alpha channel for the fillColor or strokeColor to do this: `#8F00`.

[2015-06-30 12:26] blackcatbf commented on #107
Sorry to be that stupid... Thanks!
I should have tried this before asking.

[2015-07-09 08:00] grebulon opened #108 "TiViewProxy.toImage returns TiBlob, not KrollDict"
In `AnnotationProxy.handleCustomView` there's a call to `toImage`, but the return type is wrong.

[2015-07-10 13:05] pamik commented on #105
I had same problem. The workaround is to use the previous version 2.2.2.

[2015-07-16 18:55] maximcan commented on #105
pamik, it is the good solution for everybody who doesn't use polygons. Is this problem still unsolved ?

[2015-07-19 19:57] decklord commented on #105
Having the same issue.

[2015-07-19 20:14] dbeth commented on #105
Me too. I have the same problem.

[2015-07-21 13:12] maximcan commented on #105
Good news ! Check here : https://jira.appcelerator.org/browse/MOD-1840

[2015-07-28 15:39] TonyCat opened #111 "Cannot compile with 4.1.0GA and Xcode 6.4"
I'm having issues with the ti.map so i decided to come and see if i can build a new module. I updated my version to 4.1.0 in module.xcconfig to 4.1.0 then tried to do python build.py and it errored out. Opened up the Xcode project and its failing on TiProxy.h (screen shot attached) I'm not sure how to fix that. Can you guys get this build-able again?
![screen shot 2015-07-28 at 11 30 45 am](https:

[2015-08-01 08:35] jfalcone commented on #105
And https://jira.appcelerator.org/browse/TIMOB-19280

This is a huge regression and it impacts our apps severely.  Rolling back to 2.2.2 is the temporary fix.

[2015-08-01 13:15] weixingsun commented on #108
I think you may have found out your solution, I changed AnnotationProxy.java in my solution:
		if (obj instanceof TiViewProxy) {
			//KrollDict d = ((TiViewProxy) obj).toImage();
			//Object imageBlob = d.get(TiC.PROPERTY_MEDIA);
			//if (imageBlob instanceof TiBlob) {
			//	Bitmap image = ((TiBlob) imageBlob).getImage();
			TiBlob imageBlob = ((TiViewProxy) obj).toImage();
				Bitmap image = imag

[2015-08-03 15:32] kratosmat commented on #77
Hi all,
I am a bit confused.
I am using nl.fokkezb.drawer on a view where is a MapView (module=ti.map) and it isn't able to show the map, with the following error

TiUIMapView: (main) [7,17756] Unable to load map

Furthermore, I am using SDK 4.1.0.GA.

I haven't understood if this is a bug, if it was solved or not.

Thanks in advance,
Matteo.

[2015-08-03 15:58] Topener opened #112 "Map starts ignoring touch inputs at random intervals"
I've got an issue with the latest version(s) that the map starts ignoring user inputs (zooming/scrolling/clicking) at random times. This happens in 2.3.1 and 2.3.2 on iOS.

This doesn't happen in 2.2.2, but I am not able to revert version as 2.3 offers circles...

[2015-08-03 21:13] manumaticx commented on #77
@kratosmat it's not a real ti.map bug - the issue was solved in Ti.DrawerLayout (which also works with nl.fokkezb.drawer) but not yet in the NappDrawer

[2015-08-05 16:08] ulizama opened #115 "Linker Issue"
Building a project on XCode that uses the module gives me the following error:
[code]

I'm using SDK 4.1.0.GA and version 2.3.2 of the module.

[2015-08-10 15:52] pilosof commented on #115
any hack found to solve this ?

[2015-08-13 11:18] yozef opened #117 "One Example on Android for Map with Bearing and Tilt"
Documentation says we cannot use LongitudeDelta & LatitudeDelta with Bearing, Tilt and Zoom.

I have not been able to make the Android Google Map to tilt nor have a bearing programatically (only by manually with my fingers).

The following is what I've used:
[code]

Dosen't do anything?

[2015-08-17 14:44] madmanlear commented on #115
Having the same issue on two other Appcelerator builds, both running 4.1.0 GA, but only after opening the Xcode profile file.

[2015-08-17 14:58] yozef commented on #115
Having the exact same issue. Been trying to use Instruments to profile the Ti app from XCode, however ti.map is throwing "clang: error: linker command failed with exit code 1 (use -v to see invocation)"

[2015-08-20 12:20] preszedrox commented on #105
We are facing same issue. Do you please send us solution for the same. As in our app we need both the feature : polygon draw as well as on click on annotation.

[2015-08-21 16:44] yozef opened #119 "Android Annotation on Polygon is causing havoc dismissing InfoWindow!"
If we remove lines: 782 - 832 in TiUIMapView.java it would fix the issue. These lines breaks the annotation's default behaviour, and are a huge drain on performance for Android.

These lines are causing a lot of issues if there is a polygon underneath it. Basically it locks the UI thread for 6 seconds! Tested on an a Samsung S6 Edge.

I've tried All Day today to re-package this Module for Android,

[2015-08-21 21:34] yozef commented on #119
For the life of me. I don't know why I can't package Ti.Map for Android?

I've packaged Modules before for Android, and developed one for iOS, but Ti.Map in particular for Android, is giving me issues.

I do foresee about 3 months left of committed work on this Module for an App, and would love if someone can help me figure out how to package my changes. I would like to contribute to this module.

[2015-08-22 00:54] ashcoding commented on #119
For the changes you mentioned, is it possible to do a pull request for it with a sample app that shows the problem? That would be helpful in fixing the issue.

[2015-08-22 01:12] yozef commented on #119
Hi @ashcoding you mean a Pull request for TiUIMapView.java or a Titanium App sample  that shows the problem?

[2015-08-22 01:31] yozef commented on #119
I think this change should demonstrate what I was refering to: https://github.com/appcelerator-modules/ti.map/pull/120

[2015-08-23 11:30] yozef commented on #119
Tried again today with this Pull request: https://github.com/appcelerator-modules/ti.map/pull/121

Travis still giving issues:
BUILD FAILED
/Users/travis/build/appcelerator-modules/ti.map/android/build.xml:9: Cannot find /module/android/build.xml imported from /Users/travis/build/appcelerator-modules/ti.map/android/build.xml

[2015-08-23 12:20] yozef opened #122 "Build failed for the past 18 days"
Regardless of what I do, Travis & Locally, I am getting errors.

Either:
BUILD FAILED
/Users/travis/build/appcelerator-modules/ti.map/android/build.xml:9: Cannot find /module/android/build.xml imported from /Users/travis/build/appcelerator-modules/ti.map/android/build.xml

OR

error: package com.google.android.gms.maps.model does not exist

[2015-08-24 04:43] ashcoding commented on #119
If you would like to build the module on your own, you could try this.

Checkout this version on Master
[code]
Modify: `ios/titanium.xcconfig` file to change sdk version to `TITANIUM_SDK_VERSION = 4.0.0.GA` or to a version that is available in your computer.

Have a `android\build.properties` file with information filled up. See `build.properties.example` for an example.

You can now compile the a

[2015-08-24 11:54] yozef commented on #119
Hi @ashcoding Thanks for helping me out.

So I've deleted everything I've done, and restarted.
1- I've pulled the latest code from Github again.
2- Updated my Library with:
<img width="419" alt="screen shot 2015-08-24 at 7 51 49 am" src="https://cloud.githubusercontent.com/assets/287256/9439437/04025494-4a35-11e5-94b0-674ddd8bf146.png">
3- Now, there are no Errors in Studio
4- I create, and update

[2015-08-24 12:03] yozef commented on #119
Update:

I've updated my build.properties to match the version of the Android Library (18, used to be 8):
[code]

Now when I package the Module, I get (**all good till the last 2 lines**):
[code]

[2015-08-24 12:07] yozef commented on #119
Done!! I created a /doc folder in /build and it Packaged successfully.

Hopefully this helps anybody else!

[2015-08-24 12:09] #122 closed

[2015-08-24 12:17] yozef commented on #119
Update: So I've finally packaged my Module, I increased the version in the maniest file.

I add the Module to my App project, and I get this:
[code]

[2015-08-24 16:03] yozef commented on #119
Can anybody that has the latest Ti.Map for Android running (and working in a apackaged state in the App), to drag a snapshot of their Java Build Path > Libraries please?

It would save me a lot of time. Thanks!

[2015-08-24 17:50] yozef commented on #119
@ashcoding I've tried, many, many times I still get this issue when I use the packaged Ti.Map into my App:
[code]

[2015-08-24 17:57] #119 closed

[2015-08-27 15:06] yozef opened #123 "Android Annotation - Updating Image"
On Android, unlike iOS, the Image property url string cannot be updated after the Annotation has been created.

example:
[code]

The only workaround I find now is to remove the annotation, re-create it with the new Image & re-adding it to the map.

[2015-09-03 19:19] parweensingh opened #126 "Module not working in china"
Hey, this module is working in our app for the entire world with an exception of "CHINA". Kindly,Provide an alternative way to make this work in china.Thanks.

[2015-09-04 07:05] parweensingh commented on #126
To add, The maps are not working only on android.

[2015-10-14 09:31] genocsb commented on #119
thanks it works

[2015-10-23 21:37] #123 closed

[2015-10-27 06:24] hansemannn commented on #111
Hi @TonyCat , can you please try to build the module using Ti.SDK 5.0.0.GA or later?

[2015-10-27 06:25] hansemannn commented on #115
Hi together, we fixed that issue in the early September, can you recheck this issue?

[2015-10-27 06:25] #9 closed

[2015-10-27 06:27] hansemannn commented on #90
There is a google maps module available in the Appcelerator Marketplace and an open source module is currently in progress in the community.

[2015-10-27 06:27] #90 closed

[2015-10-27 06:27] #78 closed

[2015-10-27 06:28] hansemannn commented on #112
Hi @Topener, does everything works in the latest version? Me made some related changes in the last months.

[2015-10-27 06:28] #107 closed

[2015-10-27 06:29] hansemannn commented on #104
Hi @bcpi , we fixed all bugs in the latest iOS version 2.4.1.

[2015-10-27 06:29] #104 closed

[2015-10-27 06:30] hansemannn commented on #35
Hi @bitfabrikken , is this issue still present?

[2015-10-27 11:03] yozef commented on #117
It was an issue from my end. This is Working.

[2015-10-27 11:03] #117 closed

[2015-10-27 11:06] yozef commented on #112
It could be that you have lots of overlays: such as polygons &/or circles &/polylines, the implementation of map click events when these were added creates a loop through all of them killing performance in order to return the overlay that was tapped on. I have compiled my own ti.map to remove these loops, as I did not need in my case to know which overlay was tapped on.

[2015-10-27 11:08] yozef commented on #105
It could be that you have lots of overlays: such as polygons &/or circles &/polylines, the implementation of map click events when these were added creates a loop through all of them killing performance in order to return the overlay that was tapped on. I have compiled my own ti.map to remove these loops, as I did not need in my case to know which overlay was tapped on.

[2015-10-27 11:15] Topener commented on #112
It was a map without any markers or overlays, and happend suddenly. However, this problem only occurred in combination with an older TiSDK and it was fixed by using 4 or higher.

[2015-10-27 15:29] hansemannn commented on #112
Thanks! Closing this issue then.

[2015-10-27 15:29] #112 closed

[2015-10-27 15:30] hansemannn commented on #126
Hi @parweensingh , can you open a ticket on jira.appcelerator.org and provide a log so we can reproduce your issue? We are very interested in fixing your issues.

[2015-10-28 10:03] parween commented on #126
Hi @hansemannn ,Thanks a lot for the response but I don't have log for the same. I will get the app tested in china and share the log obtained via analytics. Will that serve the purpose? Also, Can I go ahead and open a ticket without log? Thanks.

[2015-10-28 12:28] yozef opened #132 "Adding new Features to Ti.Map for Android (titanium.jar not found)"
I am trying to add the option of enabling/disabling the Level Picker for Indoor Locations [Level Picker for Indoor Locations](https://developers.google.com/android/reference/com/google/android/gms/maps/UiSettings#setIndoorLevelPickerEnabled(boolean))

1- I update `src/ti.map/TiUIMapView.java` with:
[code]
then in:
[code]

then in `ViewProxy.java`:
[code]

Everywhere I add TiC.PROPERTY_ENABLE_LEVEL

[2015-10-28 13:37] yozef commented on #132
For now I have managed to hardcode:
[code]

However it would be interesting for other to use this param as well.

[2015-10-28 18:03] hansemannn commented on #111
Just testing using 5.0.0.GA, 5.0.2.GA and later, the issue was fixed there.

[2015-10-28 18:03] #111 closed

[2015-10-28 18:05] hansemannn commented on #126
A log is necessary for us to reproduce your issue. Can you receive the debug log when running the app on the device? That is possible using CLI: "appc ti build -p ios -T device" or using the Appcelerator Studio.

[2015-10-29 02:05] ashcoding commented on #132
To add to TiC, you would need to do a PR to https://github.com/appcelerator/titanium_mobile/blob/master/android/titanium/src/java/org/appcelerator/titanium/TiC.java and add it here and then compile the module with the new SDK.

Instead, for this scenario, I think adding a property in MapModule will suffice.
https://github.com/appcelerator-modules/ti.map/blob/master/android/src/ti/map/MapModule.jav

[2015-11-02 10:49] #132 closed

[2015-11-03 23:00] #115 closed

[2015-11-04 07:32] parween commented on #126
Hi @hansemannn ,Yes,I can obtain the debug log but I am not able to replicate the issue as I am in India.I have sent a sample app to china to get it tested by a user and will get back to you with the logs obtained via google analytics.Also, Kindly suggest if there is some better way to obtain the log. Thanks Again for the interest shown. Shall keep you posted with the developments.

To add on,

Go

[2015-11-27 09:48] pebosi opened #135 "Ti.map 2.5: Bad Memory Access - Crash"
Updated my app to use ti.map 2.5, but when clicking on an annotation the app crashes with an Bad Memory Access [EXC_BAD_ACCESS // SIGSEGV // SIGBUS], error.
Switching back to 2.4.1 and the app works again

[2015-11-28 10:20] designbymind commented on #135
**+1** · I am also receiving the same error/crash whilst running 2.5.0. Really looking forward to the map styling of SATELLITE_FLYOVER_TYPE!

[2015-11-28 12:50] yozef commented on #135
Do you guys have polygons/circles overlays? If so this could very well be the issue.
The Module loops through each of these overlays every time the map is tapped on (supposedly to return the overlay that got tapped on returned). I have removed these lines from the mapclick event in order not to do that. Not sure if this is the issue you guys face... but I think the community should be aware of it.

[2015-11-29 08:03] designbymind commented on #135
Hi @yozef,

Thanks for the response!

My app is crashing anytime there is an annotation added to the map using Ti.Map 2.5.0. I'm not using any overlays (polygon/circle). However, without any annotations/overlays, the map does render successfully. Looking forward to a fix because MapKit is looking better than ever & I can't wait to use the new 'Flyover' map types!

**Current environment:**
* Appcel

[2015-11-30 07:54] hansemannn commented on #135
Hey guys! Can you provide a reproducible test case on this?

[2015-12-01 11:13] simonhume opened #136 "Support Image Overlays for iOS and Android"
I use a 3rd party module for iOS (and Android, though it has never worked) to overlay images on top of native maps. Unfortunately, the module is quite old and doesn't work with the latest Titanium SDK.

Can we get support for native image overlay (like you added vector overlay support) too, you'd make a Zoo in the UK very happy indeed!

[2015-12-02 02:07] ashcoding commented on #136
@simonhume I like Zoos.

a) Which 3rd party module were u using? It might be easy enough to convert it to a Titanium Module.

b) By image overlay, which api are you referring to? https://developers.google.com/maps/documentation/android-api/intro

[2015-12-02 10:04] simonhume commented on #136
@ashcoding OK, so I was using this module:

https://github.com/NetFunctional/ti.map

I did try and update it in xCode but got in a right old mess.

The basic idea behind it, is that you declare a Top left and Bottom right position for the image overlay (in my case a PNG of the Zoo map) to sit over the top.

Annotations are then plotted on top as normal and the user can zoom in and out.

That modul

[2015-12-05 05:26] designbymind commented on #135
Hi @hansemannn,

I just wanted to note that I'm successfully able to get the new map type(s) to work.
However, when adding an overlay and/or annotation (annotation in my case), I'm experiencing an app crash when loading a window with a map view using Ti.Map 2.5.0.

**Sample code below:**

alloy.js
[code]

map.xml
[code]
map.js
[code]

Please let me know if I can provide any additional info & thank

[2015-12-05 11:45] hansemannn commented on #135
Hi everyone!

- This issue can be tracked here: https://jira.appcelerator.org/browse/MOD-2171
- The fix can be found here: https://github.com/hansemannn/titanium_mobile/blob/MOD-2171/support/module/packaged/ti.map-iphone-2.5.1.zip?raw=true

Let me know if the 2.5.1 works for everyone of you.

[2015-12-05 23:02] designbymind commented on #135
Hi @hansemannn,

Looks like since 2.5.1, both adding overlays & annotations works great now!

However, I have found that my app crashes when selecting annotations (by either clicking on map or by selecting programmatically)...

**Example:**
[code]

It seems as if this only occurs while the map is visible. I have tried two test cases:
One with the map hidden and then shown after completely loaded (

[2015-12-06 18:00] hansemannn commented on #135
The crash on `selectAnnotation` did not happen before? Please provide a trace log here, thanks!

[2015-12-07 07:32] ashcoding commented on #136
A ticket for this https://jira.appcelerator.org/browse/MOD-2173 has been created by @hansemannn

[2015-12-07 09:54] simonhume commented on #136
thanks @ashcoding, how long do these normally take to reach a release?

[2015-12-07 20:11] #26 closed

[2015-12-08 03:50] ashcoding commented on #136
A jira ticket normally gets pushed for development when there's lots of watchers and/or there's a bug.

This issue is a request for improvement. It would move faster if a PR is submitted for review.

[2015-12-08 21:07] hansemannn commented on #135
Closing this issue for now, since no new crashes have been reported.

[2015-12-09 09:23] pebosi commented on #135
My issue was that the app crashes when "clicking on an annotation" (first comment).
Tried version 2.5.1 with no luck.

[2015-12-09 09:30] designbymind commented on #135
**+1**

[2015-12-09 15:29] hansemannn commented on #135
@pebosi Then please provide an example code to reproduce your issue. I reopened the ticket for now.

[2015-12-09 15:30] hansemannn commented on #108
@grebulon @weixingsun Can you file an issue so our Android dev's can fix this issue?

[2015-12-10 08:56] pebosi commented on #135
Created an new simple alloy project with ti.map 2.5.1 in studio and generated some annotations.
- The app opens and shows the map with generated annotations (has worked before)
- when clicking on the first generated annotation the info window opens (as before)
- when clicking on any other annotation the app crashes (didn't crash on 2.4.1)

Tested only on iPad.

[2015-12-10 08:58] hansemannn commented on #135
We cannot do something without having an actual demo code like @designbymind and I provided. Please make sure to attach something in order to get it fixed. We also need a JIRA ticket before we can fix the ticket.

[2015-12-10 09:01] pebosi commented on #135
Code uploaded: https://gist.github.com/pebosi/bf93c55bc4878d64a4bf

[2015-12-10 20:01] WillDent commented on #135
Yep.. I can confirm this is happening on two of our apps now as well. :-(

[2015-12-11 17:25] rlarmore opened #139 "Add Support for addTileOverlay"
It would be helpful to create custom titles that overlay the existing ones. Please see gmaps documentation here.

https://developers.google.com/android/reference/com/google/android/gms/maps/model/TileOverlay

For IOS MKTileOverlay
https://developer.apple.com/library/ios/documentation/MapKit/Reference/MKTileOverlay_class/

[2015-12-12 14:04] hansemannn commented on #135
Hey Guys! First of all thanks @pebosi for the demo code! The issue was related to the index of the annotation that broke the code when being compiled with iOS 9.x. We fixed the issue and would like to test you the updated 2.5.2 version [here](https://www.dropbox.com/s/b4k5sceeivilcid/ti.map-iphone-2.5.2.zip?dl=0)

[2015-12-12 14:27] designbymind commented on #135
Thanks, @hansemannn!

All works great on my end. Tested on both simulator & device for two separate apps (iOS 9.2 only).

[2015-12-12 14:42] WillDent commented on #135
@hansemannn works great.  Thank you!

[2015-12-12 17:27] hansemannn commented on #139
Please follow #136 and [MOD-2173](https://jira.appcelerator.org/browse/MOD-2173) to track the process of this feature.

[2015-12-12 17:27] #139 closed

[2015-12-14 09:30] pebosi commented on #135
Yes, works for me too. Thx

[2015-12-14 10:30] hansemannn commented on #135
Closing then, thanks everyone!

[2015-12-14 10:30] #135 closed

[2015-12-16 10:28] hansemannn commented on #92
@edelkevis Does it work with the latest ti.map android version ([2.3.4](https://github.com/appcelerator-modules/ti.map/releases/tag/android-2.3.4)) ?

[2015-12-16 10:29] hansemannn commented on #63
@ashcoding can you validate?

[2015-12-16 10:29] hansemannn commented on #35
Closing this issue since we didn't receive further feedback.

[2015-12-16 10:29] #35 closed

[2015-12-16 10:31] hansemannn commented on #41
@mrlundis Can this issue be closed with the latest release?

[2015-12-16 16:06] mrlundis commented on #41
@hansemannn I don't know, we've moved away from the longress/-click interactions. @astjohn Might be in a better position to answer this.

[2015-12-16 16:11] astjohn commented on #41
@hansemannn I believe my changes were incorporated and fixed this issue. Feel free to close.

[2015-12-16 16:15] hansemannn commented on #41
Nice, thanks!

[2015-12-16 16:15] #41 closed

[2015-12-18 07:46] MangeshVyas opened #142 "indoor maps support."
Good work. Work with most of the requirements. Can we extent this to support indoor maps ?
is this already support indoor maps ? Any help will be appricaite..

[2015-12-18 13:01] yozef commented on #142
Support for Indoor Maps comes out of the box with CoreLocation on iOS (and Titanium returns you the location event with the floor level). However with Apple & Google (much tougher crowd to deal with) is to Survey the area you would like this accuracy indoors.

[2015-12-21 11:26] hansemannn commented on #142
Hi @MangeshVyas, please file a [JIRA-ticket](http://jira.appcelerator.org) regarding your feature request. Thanks!

[2015-12-29 14:53] jabele commented on #136
@ashcoding Do you have a sample PR that is in a format that would be helpful for this project? I would be happy to create this to get it moving through the pipeline.

[2016-01-10 18:16] AppWerft opened #143 "Supressing of Google navigation"
In newest Android Version I see after annotation clicking navi elements from Google. How can I supress?

[2016-01-11 02:20] ashcoding commented on #143
Could you add code and a screenshot to illustrate this issue?

[2016-01-11 09:13] AppWerft commented on #143
![screenshot_2016-01-11-09-35-51](https://cloud.githubusercontent.com/assets/2996237/12229871/8736b6a8-b843-11e5-801c-9bfafc4a767d.png)

[2016-01-11 09:30] ashcoding commented on #143
Create a jira ticket for this https://jira.appcelerator.org/browse/MOD-2189. Seems like we need to have `setMapToolbarEnabled(false)` to disable/surpress that.

[2016-01-11 09:33] AppWerft commented on #143
Thanks for JIRA ticket

[2016-01-12 03:08] ashcoding commented on #143
Do you have a simple app.js code that I could run to produce that navigation element?
Also, which android version and device are you using?

[2016-01-12 09:01] AppWerft commented on #143
SDK 5.1.1.GA / Android23

Simple window with mapview in it: https://github.com/AppWerft/Tierstimmenarchiv/blob/master/Resources/ui/map.window.js

[2016-01-13 03:15] ashcoding commented on #143
[ti.map-android-2.3.7.zip](https://github.com/appcelerator-modules/ti.map/files/88306/ti.map-android-2.3.7.zip)

I am unable (for the moment) to produce that navi icons. Attached above is a test version (not final release) that has the property `mapToolbarEnabled`. Set it to false.

Eg:
[code]

If it works for you, that would be great. Let me know.

[2016-01-13 09:36] AppWerft commented on #143
Now it works, great! Thanks for your quick answer and help!

[2016-01-14 00:32] ashcoding commented on #143
I'll add this module to the official release and Jira ticket.

[2016-01-14 02:36] ashcoding commented on #143
Closing issue.

[2016-01-14 02:36] #143 closed

[2016-01-20 06:39] ashcoding commented on #143
https://github.com/appcelerator-modules/ti.map/releases/tag/android-2.3.7

[2016-01-25 23:15] yozef opened #145 "Implement regionWillChangeAnimated on iOS"
It would be nice to implement this event trigger on iOS:
```- (void)mapView:(MKMapView *)mapView regionWillChangeAnimated:(BOOL)animated```

We do have ```regionDidChangeAnimated``` in ti.map for iOS & Android, however ```regionWillChangeAnimated``` is just as good to have :)

[2016-01-26 12:43] hansemannn commented on #145
Hi @yozef, sounds reasonable! Can you file a JIRA-ticket so we can track the issue? Would you like a new event like `regionwillchange` to be triggered before the existing `regionchanged` event?

[2016-01-26 12:49] yozef commented on #145
Definitely that is the behavior intended. Thx @hansemannn
I actually tried implementing it myself, however, I got a red screen within my Ti App, with several tries :/

Jira: https://jira.appcelerator.org/browse/AC-581

[2016-01-26 13:03] hansemannn commented on #145
Great! Just moved your ticket to the MOD namespace and implemented the feature in https://github.com/appcelerator-modules/ti.map/pull/146. Also added
[ti.map-iphone-2.7.0.zip](https://github.com/appcelerator-modules/ti.map/files/104910/ti.map-iphone-2.7.0.zip) here to test it. Will also test it today, feedback appreciated!

[2016-01-26 13:04] yozef commented on #145
Will test it out now :)
Thanks so much!!!

[2016-01-26 13:21] hansemannn commented on #145
Just tested it using the following code, working fine for me:
[code]

[2016-01-26 14:10] yozef commented on #145
Works great :)

[2016-01-26 14:10] #145 closed

[2016-01-26 14:11] hansemannn commented on #142
Closing this issue, since the floorLebel can already be received.

[2016-01-26 14:11] #142 closed

[2016-01-29 15:12] garycrook opened #147 "Calling .toImage() on the map view gives blank image"
I'm trying to get a blob of the map view by calling .toImage(), but results in a black image with 'Google' in the bottom left corner. Any fixes for this?

[2016-01-29 21:28] ashcoding commented on #147
@garycrook Is this for Android or iOS? And could you give more information? Thanks!

[2016-01-29 21:48] garycrook commented on #147
Sorry, it's for Android. I've set up all of the Google Maps API key etc. and the map is showing in the app.

`app.ui.map = require('ti.map');`
...
`var mapView = app.ui.map.createView({`
`   mapType: app.ui.map.SATELLITE_TYPE,`
`   userLocation: true,`
`   animate: true,`
`   regionFit: true`
`});`
...
`var mapContainerView = Ti.UI.createView({});`
`mapContainerView.add(mapView); // Other Ti views

[2016-01-30 03:34] wsliaw commented on #147
Hi, for Android, you have to do like this:

[code]

reference: http://docs.appcelerator.com/platform/latest/#!/api/Modules.Map.View-event-onsnapshotready

[2016-01-30 14:00] garycrook commented on #147
Cool, thanks that worked!

[2016-01-30 14:01] wsliaw commented on #147
you're welcome ;)

[2016-01-30 19:49] yozef opened #148 "MKDirections for iOS (k0sukey already implemented it)"
@k0sukey has already provided a branched version of ti.map (for iOS) here: https://github.com/k0sukey/ti.map/tree/MKDirections

Note: Using Google API services for Directions is not allowed to be used on Apple Maps.

[2016-01-31 14:22] yozef commented on #148
Switching to https://github.com/hansemannn/Ti.GoogleMaps is probably best ;)

[2016-01-31 14:22] #148 closed

[2016-02-02 01:13] ashcoding commented on #147
@wsliaw Great work! :+1:
Closing this. :)

[2016-02-02 01:13] #147 closed

[2016-02-03 11:31] gabrielperales commented on #115
I'm having this issue. I have tried with **Xcode 6.1** and Titanium SDK `4.0` and `4.1` with some differents `ti.map` versions like *2.3.1* and *2.5.2*. I also know I did it run last november... but I can't remember which titanium setup I had, but it should be pretty similar to which I have now... and I'm using the same laptop...

This is the Xcode output:

    cd "/Users/cex/Documents/Appcelerato

[2016-02-03 11:37] hansemannn commented on #115
@gabrielperales Please try with Xcode 7.x, since Xcode 6.x support will officially be dropped next months in favor of the iOS 9 API's that require Xcode >= 7.0. If the issue is still present on latest the Xcode, feel free to file an issue on [JIRA](https://jira.appcelerator.org)

[2016-02-03 12:02] gabrielperales commented on #115
@hansemannn Ok, thank you very much for your answer, I could did it run with the Titanium SDK 3.5 and ti.map 2.2.0, so I'm going to keep working with this setup. If I have more troubles, I will update it to Xcode 7.x.

[2016-02-11 14:14] brunogenaro opened #150 "Click on annotation not working on Android"
I'm testing a really simple map with only one annotation on it and I need to capture the click event to send the user to another window after clicked.

The code for the pin and map:
[code]

If I call the console.warn for the event "e", I got the error: `Message: Uncaught TypeError: Converting circular structure to JSON`

Any idea on what to do here?

[2016-02-15 19:45] brunogenaro commented on #150
Ok, I didn't fixed this issue but I found another way to get the values that I want to.

The issue comes from the `e.source` property object (which works fine on iOS), but since I'm trying to capture values from my either leftView or rightView I can access directly the `annotation` property, like this:
`e.annotation.leftView` or `e.annotation.rightView`.

I hope this help other people in the futur

[2016-02-15 19:45] #150 closed

[2016-03-28 20:23] abada opened #153 "Error when using the module"
[code]

[2016-03-29 11:07] hansemannn commented on #153
Just read the error, that should solve it:
[code]
Thanks!

[2016-03-29 11:07] #153 closed

[2016-03-29 12:24] abada commented on #153
Oh i noticed another module using different `gms.version` version  , i removed that version and changed it to  `@integer/google_play_services_version` and it works . thank you

[2016-04-02 01:50] onury opened #154 "Attempt to invoke virtual method 'void com.google.android.gms.maps.GoogleMap.clear()'"
I'm working with Android emulators and AFAIK, Google Play services is missing on emulators and map doesn't work.

So I've added conditional code (e.g. `TI_MAP.isGooglePlayServicesAvailable()`) to prevent the app crash. It works unstably and I get the following error when it crashes.

[code]
The stack trace is all Java so I cannot trace the source of this error.

SDK version: 5.2.1.GA
ti.map versio

[2016-04-05 07:11] bitfabrikken opened #155 "Feature request: Tinting annotation images (will pay)"
Hi, I'd really like to see a new feature where it's possible to supply a tint colour when you create an annotation with a custom image - on both iOS and Android.

If I find someone to do this, I will of course release it here as a pull request.

Anyone up for the challenge, or anyone also interested in this feature?

[2016-04-07 00:12] TonyCat commented on #147
I can not get toImage to work on IOS its saves the map blank with the word "legal" in the bottom left hand corner and I tried using a callback. Any ideas?
[code]

[2016-04-07 07:11] hansemannn commented on #155
Hey there! Are there native API's for that? From what I know, we support:
- Tinting on Buttons (iOS), so you can say `.toImage()` and supply the blob in the `Annotation.image` property
- Tinting on ImageViews (Android) and supply it directly. I asked @m1ga who made that great PR to also support it for Buttons so we have parity with iOS, maybe he finds the time!

But that should get you started. Si

[2016-04-07 07:14] ashcoding commented on #154
Just wanna check, are there any other notable modules you are using?
And what version of Android is this crashing on? (I presume this is an emulator?)

[2016-04-07 09:43] garycrook commented on #147
I called it like this on iOS:

var imageBlob = mapView.toImage(null, true); // no immediate callback,
honour scale factor

Then processed the blob afterwards. Any help?

Thanks,

Gary

On 7 April 2016 at 01:12, Anthony Catalano <notifications@github.com> wrote:

[2016-04-07 12:01] onury commented on #154
I only use `ti.map` and `ti.cloud`.
This crashes on both Android and Genymotion emulators; (Android 6.0).

[2016-04-07 12:53] TonyCat commented on #147
Thanks Gary I noticed that it worked out of the box when I used it in Alloy but when when I wrote classic style the honour scale factor is a must to get it to work. Cheers!

[2016-04-07 12:55] garycrook commented on #147
No problem :-)

On 7 April 2016 at 13:53, Anthony Catalano <notifications@github.com> wrote:

[2016-04-07 19:19] m1ga commented on #155
Tinting for Android buttons: https://github.com/appcelerator/titanium_mobile/pull/7924

[2016-04-10 15:41] onury commented on #154
Any news on this issue? Or any hints would be great..

[2016-04-12 07:11] hansemannn commented on #155
@bitfabrikken are you fine with this solutions? Since it's a general thing, it can only be added in the annotation source (button / image / view) itself.

[2016-04-13 02:44] asiby commented on #154
Misery love company. Ahahaha. I'm having the same problem.

Somehow, the map object (in java) got released or nullified. This is happening in the release() method of the TiUIMapView object. I'm guessing that if the map object is already null, then there is no point calling map.clear(). So if you know anything about native module development, then try changing the following ...

[code]

... to this

[2016-04-13 02:46] ashcoding commented on #154
@asiby Would appreciate if it becomes a PR eventually. :)

[2016-04-13 03:13] asiby commented on #154
Yes. I am counting on it because I have been porting my changes from version to version so far and I think that everyone can benefit from them. Also, it will make my life a little easier. :)

[2016-04-13 11:54] onury commented on #154
@asiby Thanks. Yes, I can confirm that this always happens when a `Window` or `TabGroup` containing a map view is closed.

This fix would be greatly appreciated!

[2016-04-14 03:23] ashcoding commented on #154
@asiby if it's fine by you, I could do a PR based on what you mentioned here: https://github.com/appcelerator-modules/ti.map/blob/d80899c2f94cc21b825cc9225c5b9760e3c003b8/android/src/ti/map/TiUIMapView.java#L897-L906 Would you prefer me to create a PR? Alternatively, you could submit one and I'll get it reviewed and merged once it's okay.

@onury Could you provide a sample code that could reproduc

[2016-04-14 11:38] eckoj433 commented on #136
We are currently using a webview to access the javascript api of googlemaps, in order to be able to use the groundOverlay functionality. However running googlemaps in a webview is far from the best experience for the user, and it would be GREATLY appriciated if this functionality could be added. Especially for android sence running googlemaps in a webview is considerably slower/laggy on android th

[2016-04-14 12:45] hansemannn commented on #155
Closing for now, because the tinting is not part of the ti.map module and can be achieved using the above solutions. Thanks guys! 🚀

[2016-04-14 12:45] #155 closed

[2016-04-20 21:02] asiby commented on #136
Hi guys

I have read all the messages but I'm still not sure about what @simonhume needs. To be honest, I'm no longer sure about what an overlay is after having seen different experts referring to different things as being "overlays".

I have added a new feature that may or may not be what you are looking for. It allows the following on Android (iOS will come later). The following assumes that the

[2016-04-20 21:03] asiby commented on #154
This can be closed. Right?

[2016-04-20 22:07] onury commented on #154
Yes. With v2.3.10 it does not crash the app anymore 👍
Thanks!

[2016-04-20 22:07] #154 closed

[2016-04-21 02:24] ashcoding commented on #136
@asiby That sounds like awesome work!! Looking forward to it.

[2016-04-21 02:45] yozef commented on #136
@asiby +1

[2016-04-22 13:28] darknos commented on #105
I added "hack" for handle click on popup
https://github.com/appcelerator-modules/ti.map/pull/159

[2016-04-22 15:57] hansemannn commented on #136
@asiby I don't like the way to have the overlay as part of the mapView proxy. Instead, we should think of an interface design like this (feedback appreciated):
[code]
@ashcoding, @yozef, @simonhume Thoughts?

[2016-04-22 16:04] yozef commented on #136
I agree @hansemannn this way seems more manageable to reference Tiles independently (such removing one tile for example, and leaving the others). It seems to be the way GoogleMaps does it too.

[2016-04-22 16:05] simonhume commented on #136
@hansemannn I'm not entirely sure the solution suggested covers my original request.

Tile overlays are one thing, but that is already offered by Mapbox.

My request is part of the SDK as far as I know, so tiling really probably should be a different ticket to this one.

Did anyone check out the module I mentioned in my original request? That should give some clues as to how to achieve the image o

[2016-04-22 19:43] asiby commented on #136
Thanks for the suggestion. The custom tile provider that I have added is not in the view proxy. The only part of the view proxy that is having anything to do with the custom tile provider is the properties declarations like in the following code ...
[code]

The entire code in is the TiUIMapView. I don't see where else it should go.

On the other hand, in my opinion, the use case that you have show

[2016-04-22 19:46] asiby commented on #136
@simonhume, if the module that you had referenced was doing exactly what you were looking for, then it may be worth seeing if it is in a state that can be adapted to the current version of Ti.Map.

[2016-04-22 20:19] asiby commented on #136
To add to my previous [post](https://github.com/appcelerator-modules/ti.map/issues/136#issuecomment-213565268), here is a suggestion that can be used based on the suggestion from @hansemannn.

The making so that when we add a tile using .createTile() or .addTile(), we can specify if a particular tile is to be seen as a base tile source, which will clear set the mapType to MAP_TYPE_NONE). Without t

[2016-04-26 15:29] asiby commented on #136
I have push some changed in my develop branch if anyone wants to take a look. It's at https://github.com/asiby/ti.map/tree/develop

I still need to update the module's example to include a sample usage of the new features.

[2016-05-13 08:40] bitfabrikken opened #161 "Crash when starting drag on draggable annotation"
Sometimes, when I start dragging an annotation, the app just crashes instantly.
I've debugged a lot, but haven't come up with anything useful.
Hoping someone can help :)

Edit: The crash only occurs when I have added the "pinchangedragstate" eventlistener to the map view.

iOS 9.3 on iPhone 4s, Titanium SDK 5.2.2.GA, ti.map 2.7.0

Here's some info from the Xcode console when the crash occurs:

[co

[2016-05-13 11:18] bitfabrikken commented on #161
Closing as I think this is due to running the app in TiShadow .

[2016-05-29 13:11] abada opened #163 "Error in android"
Just want to create a map
[code]

`Ti SDK 5.2.2.GA`
`ti.map 2.3.10`

[2016-05-30 02:00] ashcoding commented on #163
The error logs seems pretty short.
Could you provide more info on what modules you are using and more crash logs?

[2016-05-30 07:59] abada commented on #163
That is all log :(

I have  `ti.ga` and  `com.pushwoosh.module` https://github.com/Pushwoosh/pushwoosh-appcelerator-titanium/

[2016-05-30 21:53] hansemannn commented on #163
I don't see how that error is related to ti.map, it's more something n Pushwoosh, since they use GMS to send push notifications.

[2016-05-31 08:33] abada commented on #163
Hi @hansemannn thank you for   reply

But i disabled all modules except that `ti.map`

and this error shown

[code]

[2016-05-31 10:48] abada commented on #163
Please see the map not shown correctly with error above
![photo_2016-05-31_12-41-24](https://cloud.githubusercontent.com/assets/180586/15671959/ec2b5204-272d-11e6-8b15-2cab28494ec6.jpg)

[2016-05-31 11:04] hansemannn commented on #163
I cannot do anything with that screen...and I masked your API-key, since it was visible in your logs. Please provide the map-related code that reproduces your error and make sure you followed the readme to configure the module in your tiapp.xml. I am 90 % sure it's something on your side.

[2016-05-31 11:07] hansemannn commented on #163
UPDATE: It is something with your Google Play Services. It is currently a huge issue on the Google Maps side, related SO: http://stackoverflow.com/questions/37281942/google-map-api-v2-doesnt-work-since-google-play-services-update-9-0-83. Please follow the instructions there to fix it. Closing for now.

[2016-05-31 11:07] #163 closed

[2016-05-31 11:13] abada commented on #163
That`s strange the map works fine in another window !

![photo_2016-05-31_13-04-16](https://cloud.githubusercontent.com/assets/180586/15672518/6558933c-2731-11e6-8e35-8b7869a3f076.jpg)

[2016-05-31 11:17] abada commented on #163
Please note i am using `Google Play Services` which attached with `ti.map` module !

[2016-06-01 00:31] yozef opened #165 "Request to add Android Google Maps Inset (code provided)"
Android has ALWAYS given me issues packaging the module:

If anyone can compile it with this code:
Add in TiUIMapView.java: https://github.com/appcelerator-modules/ti.map/blob/master/android/src/ti/map/TiUIMapView.java
[code]

and in MapModule.java: https://github.com/appcelerator-modules/ti.map/blob/master/android/src/ti/map/MapModule.java

[code]

If you manage to package the module, in Titanium

[2016-06-01 18:20] abada opened #166 "Android 6.0 issue"
The map working fine in android  5.0  but when test my app on android 6.0 the  map was shown  white screen !

[2016-06-06 18:00] hansemannn commented on #165
Lets figure out how to build properly, but please make a PR first 😊

[2016-06-06 18:01] hansemannn commented on #166
@ashcoding Can you take a look?

[2016-06-06 20:06] abada commented on #166
@hansemannn  i solved it by using `android permissions`  using `Ti SDK 5.4.0`

[code]

Thank you

[2016-06-06 20:06] #166 closed

[2016-06-15 21:59] adiscodes commented on #161
I have this issue too and I'm not using TiShadow. Do you still encounter this?

[2016-07-04 10:13] AndreaVitale opened #169 "Annotation with specific density image crashes on Android"
I have some specific density image markers placed inside these folders:
[code]
when I use them to create an annotation my app crashes with this error:
[code]

I also tried to check if the specific image exists before setting it as a marker image using this code:
[code]
and the output is
[code]

[2016-07-10 18:41] hansemannn commented on #169
Hey there,

can you file a [JIRA ticket](http://jira.appcelerator.org) for this issue? Thanks!

[2016-07-12 19:50] yozef commented on #169
Odd... (Android) specific density image annotations (each within their folders) works for me.
IBitmapDescriptorFactory is not initialized seems like something else is going on.
Maybe, try to make sure the Map is already loaded before adding annotations.

[2016-07-13 08:59] AndreaVitale commented on #169
@yozef would be great only if "complete" event will be fired.

I have tried with:

[code]

but the "Completed" log is never shown.

[2016-07-13 12:03] yozef commented on #169
It does fire for me (almost similar code).
[code]
When the The Map's tiles in visible view gets loaded, it fires the `complete` event;
This gets fired also (unless you  remove the event listener) when you Pan the map to new tiles to be loaded.

I count on this event to display other information after the map is rendered its tiles/`complete`.

[2016-07-26 21:10] rlarmore commented on #136
Asiby, I've look at the code and it looks good. I haven't tried it yet but I'm excited to see it go into the main branch, any ETA? Also, any ideas on getting this to also work on apple maps for iphone?

[2016-08-10 14:39] snehalhumne opened #174 "Zoom In on iOS maps give black screen with vertical and horizontal strips."
Hi, I have implemented the ti.map module in a project, there I have given the latitudeDelta and longitudeDelta value 0.005, Now when I pinch out on the screen it the map zoom but after specific zoom level, it shows the blank black screen with vertical and horizontal strips.
![img_0707](https://cloud.githubusercontent.com/assets/20770912/17557767/164752fa-5f36-11e6-8c15-3ab92a8a4a10.jpeg)

[2016-08-10 16:57] hansemannn commented on #174
Closing as duplicate of the JIRA-ticket. Please only create tickets on JIRA.

[2016-08-10 16:57] #174 closed

[2016-08-10 16:59] hansemannn commented on #169
You need to place them in `/app/assets/android/images/res-hdpi` etc. If further discussion is required, please file a JIRA ticket for it, thanks!

[2016-08-10 16:59] #169 closed

[2016-08-23 17:33] deckameron opened #175 "mapView.setAnnotations( Array<Modules.Map.Annotation> ) is crashing the application"
Appcelerator Studio, build: 4.7.0.201607250649
SDK 5.4.0.GA
Android 6.0.1
Nexus 5

The test code:

[code]

The Error:

08-23 14:17:23.535: E/AndroidRuntime(6014): FATAL EXCEPTION: main
08-23 14:17:23.535: E/AndroidRuntime(6014): Process: com.company.myapp, PID: 6014
08-23 14:17:23.535: E/AndroidRuntime(6014): java.lang.NullPointerException: Attempt to invoke virtual method 'com.google.android.gms.

[2016-08-23 18:43] deckameron opened #176 "mapView.leftView and mapView.rightView are not working on Android"
It does not raise any error, but the view does not get rendered.

Appcelerator Studio, build: 4.7.0.201607250649
SDK 5.4.0.GA
Android 6.0.1
Nexus 5

Example code:

[code]

[2016-08-24 11:47] deckameron opened #177 "mapView.setCustomView() is not working on Android"
Appcelerator Studio, build: 4.7.0.201607250649
SDK 5.4.0.GA
Android 6.0.1
Nexus 5

It does not raise any errors, but the it does nothing at all.

[2016-08-29 20:38] mwgarwood opened #179 "Bearing does not appear to update properly on Android after map orientation change"
Bearing is undefined in the regionchanged event properties and is undefined in the Module.Map.View region property after a region orientation change on Android.  Tested on Android Marshmallow, e.g.,

[code]

[2016-08-30 21:02] mwgarwood commented on #179
I'm by no means an expert, but wondering if this couldn't be fairly easily accommodated by including the following lines in the onCameraChanged() handler:
[code]

[2016-09-01 20:25] TonyCat opened #180 "Create custom popup?"
Is there a way to create a custom popup? The only options are to set title and subtitle but is there a way to add a custom view to the popup when a user clicks an annotation?

[2016-09-12 13:05] botmaster commented on #175
Same issue -_-

[2016-09-14 16:26] jabele commented on #136
Asiby, Thanks for putting this together. Have you had a chance to send a pull request yet? Just checking on the status of your fix. Thanks from the entire community!

[2016-09-16 21:07] asiby commented on #136
Oh, you are welcome. I have been so busy lately that it took my mind totally off of this. Sorry about that. I have actually improve it even further by using the new Google Map API capabilities regarding limiting the bounds and the zoom when the use is using the map. Google finally listened. It's amazing to see that they do care about our feedback.

That new Google API will allow me to remove some

[2016-09-21 23:59] yozef opened #181 "Android Google Maps now has styles"
A lot of people have been waiting for this to be implemented part of Google Maps Android SDK.

We are able to style the Map just like in Web Google Maps.

https://developers.google.com/maps/documentation/android-api/hiding-features

[2016-09-25 18:37] hansemannn commented on #179
@mwgarwood Can you do a PR that introduces that behavior?

[2016-09-25 18:38] #59 closed

[2016-09-25 18:39] hansemannn commented on #95
Fixed in recent versions of the iOS module.

[2016-09-25 18:39] #95 closed

[2016-09-25 18:40] hansemannn commented on #6
The user is not longer on Github so we cannot ask him for additional infos. Closing for now.

[2016-09-25 18:40] #6 closed

[2016-09-25 18:44] hansemannn commented on #108
Fixed since Ti.Map Android 4.1.1

[2016-09-25 18:44] #108 closed

[2016-09-25 18:45] hansemannn commented on #165
@yozef Still want this improvement? We need a JIRA-ticket, demo-code and PR from you to communicate the feature-request. Closing this one for now.

[2016-09-25 18:45] #165 closed

[2016-09-25 18:47] hansemannn commented on #175
Please file a JIRA-ticket for this issue, otherwise our team can't schedule it. Thanks!

[2016-09-25 18:47] #175 closed

[2016-09-25 18:47] #92 closed

[2016-09-25 18:47] hansemannn commented on #56
Closing in favor of the JIRA.

[2016-09-25 18:47] #56 closed

[2016-09-26 20:41] jabele commented on #136
I have been trying to test this by replacing out the Ti.Map module with what is in your current pull request but can't seem to replicate an example based on your current version. Is there any chance you could post a quick example code for how to test this overlay functionality? Let me know if there is anything else I can do to expedite this request. Thanks!

[2016-10-22 15:37] rlarmore commented on #136
Asiby, wanted to follow up. Did you get a chance to update the PR? Thanks!

[2016-10-25 18:23] asiby commented on #136
Hello rlarmore. I am in the process of doing it. However, I am having a
problem due to the API version that is in the module's manifest file. I am
having issues compiling if I leave it to apiversion 3. I have to bring it
down to 2 which sounds obviously wrong because progress always goes forward
and not backward.

Does anyone know what I might be missing. An update of something maybe? I
am confuse

[2016-10-25 18:29] hansemannn commented on #136
@asiby skypanther.com/2016/10/rebuilding-modules-for-titanium-6/

[2016-10-25 22:04] rlarmore commented on #136
It would be nice to have a version 2 that support Ti 5.x since all of us are not on Ti6 yet. From my side I will have to wait until I am able to replace or find updates to all my 3rd party modules. Which may take some time.

[2016-10-26 15:46] asiby commented on #136
Thank you so much Hans. This link is very useful.

Good point @rlarmore. I was using Ti 5.4.0.GA, but I have just updated the
SDK to 5.5.1.GA. I am not going to use 6. It's not released yet and all the
deadlines I am working against are for production releases. For that reason
I can't rely of Ti SDKs that are not officially released.

On Tue, Oct 25, 2016 at 6:04 PM, rlarmore <notifications@github

[2016-10-27 02:39] asiby commented on #136
@hansemannn, I have just checked the link you have sent, and no matter what I do, as long as apiverison is 3, the module does not show up when trying to install it in any app using the latest stable SDK 5.5.1.GA.

That leads me to the following suggestion... Can we create an extra branch that will be dealing with the major version that this module is targeting? Without that, there is always going

[2016-11-09 23:22] eolverabea opened #185 "Animation Marker"
They may include a method to animate a marker, transitions from point to point, Google API has one, but check the module documentation but found nothing.

[2016-11-10 16:48] eolverabea commented on #185
https://developers.google.com/android/reference/com/google/android/gms/maps/Projection

[2016-11-12 14:37] m1ga commented on #181
Still have to do some checks and documentation:
https://github.com/appcelerator-modules/ti.map/pull/186

[2016-11-17 23:47] rlarmore commented on #136
Asiby,  haven't heard anything for some time. Did you get past this issue?

[2016-11-18 19:54] asiby commented on #136
Nope. I didn't get any answer.

On Thu, Nov 17, 2016 at 6:47 PM, rlarmore <notifications@github.com> wrote:

[2016-11-21 20:15] ulizama opened #188 "Version 3.0.1 is crashing on Titanium SDK 6"
[code]

[2016-11-21 22:45] hansemannn commented on #188
Dupe of https://jira.appcelerator.org/browse/AC-4635

[2016-11-21 22:45] #188 closed

[2016-11-23 15:30] guiled opened #189 "[Android] Annotation applyProperties does not refresh annotation"
On Android , Annotation.applyProperties does no effects to the annotation in the map view.
Properties are changed (latitude, longitude...) but the annotation is not updated.
On iOS it works.
Setting each property works fine.

On the example below, fucntion move1 doesn't work on android (the annotation should go north). On iOS every thing is OK

[code]

[2016-11-23 20:14] hansemannn commented on #189
Please file a JIRA-issue for that, so it's easier to discuss and schedule a fix. Thx!

[2016-11-23 20:14] #189 closed

[2016-12-08 01:42] Mobilizr commented on #165
What happened with this request? I need to inset the map, but not sure how to do it...

[2016-12-11 14:23] designbymind commented on #161
Hi @bitfabrikken,

Would you consider re-opening this issue?

I too am getting an app crash when starting to drag an annotation...

**Environment:**
· Ti SDK 6.0.0.GA
· iOS 9.3/10 (device & simulator)
· ti.map 2.8.0

Thank you!

· Jason 🙂

[2016-12-12 07:39] bitfabrikken opened #191 "Request: Download of map tiles, and use these when offline (will pay)"
I could really use a feature of being able to download tiles for offline usage, and am of course willing to pay for it.

The purpose is for an app, where the users usually don't have a good internet connection, e.g. in the woods or mountain climbing. We're talking rather small areas, so downloading the data on the phone should be feasible.

From code you would specify a region (latitude, longitude

[2016-12-13 09:26] bitfabrikken commented on #161
@designbymind have you tried removing the eventlistener pinchangedragstate from the map, and seeing if it works?

[2016-12-13 17:06] designbymind commented on #161
@bitfabrikken — prior to commenting, for some strange reason, I hadn't thought to try that out...

Below are the results I am getting _without_ eventlistener `pinchangedragstate` attached to a ti.map view:

- `draggable:true` property **does** work as expected
- _if_ an eventlistener `click` is attached to the ti.map view:
  - when **beginning** the drag state, e.clicksource returns **map** (and t

[2016-12-28 18:54] hansemannn commented on #161
@designbymind Please file a JIRA issue for this if you feel this is incorrect. That's the only way we can schedule and fix your (possible) issue. Thx!

[2016-12-28 18:54] #161 closed

[2016-12-28 18:55] hansemannn commented on #185
Please file a JIRA ticket for your feature request, then we may schedule it for feature versions or someone from the community can step in. Thx!

[2016-12-28 18:55] #185 closed

[2016-12-28 18:55] hansemannn commented on #191
Please file a JIRA ticket for your feature request, then we may schedule it for feature versions or someone from the community can step in. Thx!

[2016-12-28 18:55] #191 closed

[2016-12-28 18:56] hansemannn commented on #180
You can use the `customView` or `image` property for custom views / images.

[2016-12-28 18:56] #180 closed

[2016-12-28 18:56] hansemannn commented on #181
Will be available in 6.1.0 SDK or right now from the releases tab :-)

[2016-12-28 18:56] #181 closed

[2016-12-28 18:57] hansemannn commented on #177
Should be fixed in recent builds, please try the latest one, thx!

[2016-12-28 18:57] #177 closed

[2016-12-28 18:58] hansemannn commented on #179
Again, please either do a PR here or (much better) file a JIRA ticket and link your PR there. Then we can include it asap for the next release. Thx!

[2016-12-28 18:58] #179 closed

[2016-12-28 18:58] hansemannn commented on #176
Please file a JIRA ticket for your issue, then we may schedule it for feature versions or someone from the community can step in. Thx!

[2016-12-28 18:58] #176 closed

[2016-12-28 19:00] hansemannn commented on #136
Cleaning up our ti.map issues to have a centralized discussion in JIRA. Can you follow [MOD-2145](https://jira.appcelerator.org/browse/MOD-2145) for further discussions. Thx!

[2016-12-28 19:00] #136 closed

[2016-12-28 19:01] hansemannn commented on #126
Cleaning up our Github issues, since engineers usually follow JIRA tickets for this kind of stuff. Please file a JIRA-issue for that, so it's easier to discuss and schedule a fix. Thx!

[2016-12-28 19:01] #126 closed

[2016-12-28 19:01] hansemannn commented on #101
Please file a JIRA-issue for that, so it's easier to discuss and schedule a fix. Thx!

[2016-12-28 19:01] #101 closed

[2016-12-28 19:02] hansemannn commented on #100
Thx! I just saw the ticket was resolved as invalid, since updating circles at runtime is not supposed to be supported right now. Please feel free to raise a ticket and PR to add this functionality.

[2016-12-28 19:02] #100 closed

[2016-12-28 19:03] hansemannn commented on #105
Referring to @darknos' PR #159, thx!

[2016-12-28 19:03] #105 closed

[2016-12-28 19:03] hansemannn commented on #44
This should not happen in recent versions of the module, closing!

[2016-12-28 19:03] #44 closed

[2016-12-28 19:04] hansemannn commented on #63
This should not happen in recent versions of the module, closing!

[2016-12-28 19:04] #63 closed

[2016-12-31 13:45] hansemannn commented on #161
Fo the map/pin clicksource, it's a native behavior caused by the `mapView:didDeselectAnnotationView:` being called when you start dragging. iOS interprets the gesture gas deselecting the annotation because of the dragging.

[2018-04-20 16:25] yozef opened #226 "[MOD-2418] Add Annotation Rotation functionality"
For iOS: There is a `rotation` on the Annotation. Would it be possible to incorporate into ti.map?

There is also the same feature for Android.

[2018-04-20 16:37] hansemannn commented on #226
Sounds good! Feel free to submit a pull request for both and we will handle it. 🚀

[2018-05-03 07:54] hansemannn commented on #226
@Topener Can you move this to JIRA?

[2018-05-03 12:13] Topener commented on #226
Ticket is here: https://jira.appcelerator.org/browse/MOD-2418

[2018-05-03 12:14] hansemannn commented on #226
Thanks Rene!

[2018-05-03 12:14] #226 closed

[2018-05-07 14:53] gstreetmedia opened #229 "Android: Remote Marker Image throws exception"
When using remote images for a marker, a java exception is thrown that seems like some sort of security issue. This doesn't seem to be present in pre-3.0 versions.

Have tried this two different ways. The first is using an image view.

`var view = Ti.UI.createImageView(
{
        width: Alloy.CFG.AVATAR_SIZE,
        height: Alloy.CFG.AVATAR_SIZE,
        itemId : itemId,
	image : image
});
var an

[2018-05-08 21:26] Topener commented on #229
Hi! Which version are you using on Android? Latest version is 4.2.0 on Android

[2018-05-08 21:29] Topener commented on #229
I've created a ticket in JIRA. You can watch it there: https://jira.appcelerator.org/browse/MOD-2421

Only missing info right now is your TiSDK version and android module version

[2018-06-06 18:17] mas222 opened #231 "4.3.0 Android - clicks on pins no longer fires a mapclick event"
clicks on pins no longer fires a mapclick event when the map is set up for clustering, it will however show the info box above it and if that is clicked the correct mapclick event will be fired.

[2018-06-06 18:25] mas222 opened #232 "3.1.0 - iOS Cluster annotations do not add up correctly"
When clustering is enabled and there are several clusterAnnotations near each other the numbers displayed do not add up to the true total.  While watching a map with about 150 locations , you can see that there are cluster annotations that show up and disappear.  These Disappearing annotations seem to be the difference in the count matching, for a split second I can see 2 cluster annotations that

[2018-06-07 15:05] mas222 opened #233 "3.1.0 ios - when clustering is enabled removeAllAnnotations causes an error"
3.1.0 ios - when clustering is enabled removeAllAnnotations causes an error

[2018-06-07 15:08] mas222 opened #234 "4.3.0 When removing and adding annotations with clustering the counts do not clear"
If you add and remove the same set of annotations over and over again the cluster count always adds, (100+, 200+, 500+, and so forth) even though there are no more annotations then we started with, the counts only go up, the don't reflect the actual count  when using removeAnnotations and removeAllAnnotations

[2018-06-21 08:16] PietroGranati opened #236 "App crash with map over 4.0.0"
[code]

This code is used to remove the current setted pin on the map and put a new one where the user have tapped.
When you update the ti.map module in crash the app

[2018-06-21 09:28] hansemannn commented on #236
Which platform?

[2018-06-21 09:29] PietroGranati commented on #236
Android v7 and v8

[2018-06-21 09:43] hansemannn commented on #236
I moved your project to [JIRA](https://jira.appcelerator.org/browse/MOD-2436). In order to have someone working on this, please provide an actual demo code, since your current one looks simply copy and pasted with many undefined references. It should be able to run in a single app.js to be a valid bug.

[2018-06-21 09:43] #236 closed

[2018-06-21 09:51] PietroGranati commented on #236
`var Map = require('ti.map');
var mapview = null;
var circle = null;
var currentLatitude = null;
var currentLongitude = null;
var puntoEvento = null;
var currentAddress = null;

//Function fired from a view where map is
function setAnnotationOnLongPress(e){
   	/*
   	 * {"type":"longclick","source":{"compassEnabled":true,"animate":true,"annotations":[{"showInfoWindow":true,"pincolor":0,"longitude

[2018-07-04 10:58] tomgiessel opened #237 "iOS: CallbackObject is not a function"
Hi there,

I've recently noticed some crashes using the TiMap module, that I can't explain and I am also unable to reproduce on any of my devices or simulators.
The JavaScript exception is `CallbackObject is not a function (near '...Map.createAnnotation...')` and here is the code that causes it:

[code]

As you can see, the code is not very complex and very similar to the one defined in the docume

[2018-07-09 20:59] m1ga commented on #231
Tried to solve this today but couldn't find a solution to cover all cases. The problem is
`map.setOnMarkerClickListener(this);`
or
[code]

The first one will handle the normal marker clicks. The second will use `onClusterClick` (clusters -> zoom to break up cluster) and `onClusterItemClick` (click on unclustered items).
You can add the pin callback to the `onClusterItemClick` which would work. But

[2018-07-25 09:30] andrzejschmidt commented on #231
Hey @mas222, have you found any workaround for that by any chance? I have an exact same problem trying to show custom annotation on clicking the pin (worked until 4.2.0), but also want to take advantage of new clustering feature (from 4.3.0).
Tried m1ga's suggestions but I end up with errors trying to build the module.

[2018-07-25 09:53] ypbnv commented on #231
@andrzejschmidt I created a ticket for the issue. You can track there what is the status.

[2018-08-09 00:02] zainesmail commented on #231
Is there going to be a  new release out soon for 4.3?

[2018-08-22 07:28] jerry42 opened #243 "Android : Disable indoor Map"
Hello,
Is it possible to add the ability to disable indoor map ? Google is having a problem with indoor map in London, SF and Tokyo which make my app crash.

Disabling indoor map would fix the problem, according to this bug tracker : https://issuetracker.google.com/issues/35829548

Thanks

[2018-08-22 14:56] ypbnv commented on #243
Hello!

I have created a ticket for exposing the API in the module. You can watch there for when it will be included. Here is the link:
https://jira.appcelerator.org/browse/MOD-2457

[2018-08-22 15:21] jerry42 commented on #243
Thanks @ypbnv I will keep track of the Jira !

[2018-08-22 15:26] Topener commented on #243
closing issues to prevent double tracking. Anyone interested in this feature can follow the mentioned jira ticket.

[2018-08-22 15:26] #243 closed

[2018-10-08 21:39] jabele commented on #233
This is also happening on Android in 4.3.1

[2018-10-12 06:26] obaidjawad opened #247 "Set component Restriction"
I could not find the component restriction function in our module. Set component restriction is a command in which I can set the default country - for example US and by default the search of city will be from country US.

My goal is to set the particular region and only from which the search results should appear. Can anybody guide me if I was not able to find this feature in this module. Thank yo

[2018-10-13 19:28] obaidjawad commented on #247
Okay thanks I'll check again because I searched but no solution found

[2018-10-13 19:35] #247 closed

[2018-10-27 18:28] LilianAlvarez opened #248 "CustomAnnotation with imageView on Android"
Hello,

When i tried to add an imageView to a view and then use it to set the customView property to an annotation. When i add the annotation to the map view, the image is not showing.
I have seen this ticket is still open : https://jira.appcelerator.org/browse/TIMOB-25567

Thanks for the help.

[2018-11-02 14:37] LilianAlvarez commented on #248
Hello,

Update on the solution, using backgoundImage of a View component works.

[2018-12-11 14:24] AppsolutEinfach commented on #231
Seems to be fixed in [4.3.1](https://github.com/appcelerator-modules/ti.map/releases/tag/android-4.3.1).

[2019-01-12 00:08] rspedrini opened #256 "4.3.1 Android - null reference for onCameraIdle()"
File android/src/ti/map/TiUIMapView.java line:1184 probably needs a check if mClusterManager is not null...This is my first bug report here, I dont know if here is the best location to report, please let me know if we have another way to do it.

[code]

I got an error when I was rebuilding module (in PolygonProxy.java:235):

[code]

I commented this annotation and I know that it is not a valid sol

[2019-01-12 12:05] m1ga commented on #256
Which SDK are you using to compile the module?
And when does the null error occur? Do you have any code to share so people can test it?
The patch is easy and I've added a PR: https://github.com/appcelerator-modules/ti.map/pull/257

[2019-01-12 16:39] rspedrini commented on #256
Im using SDK 7.5.1.v20181218070137, we had some problems with black screens, and some others weird bugs relative to that 'run-on-main-thread' and only in this build it was solved.

This null reference is very very random, we have a map that we can open another screen, if we repeat it forward and back, after some random tries we got this null reference error.

[2019-01-12 16:41] m1ga commented on #256
if you want to test the fixed version: [download](http://migaweb.de/ti.map-android-4.3.2.zip)

[2019-01-13 00:18] rspedrini commented on #256
Thanks m1ga, now is working!

[2019-02-06 07:05] hansemannn commented on #231
@garymathews can you close this one?

[2019-02-06 07:05] hansemannn commented on #256
@garymathews can you close this one?

[2019-03-26 17:32] dkjeune opened #262 "updateLocation of annotation with animation"
Is it possible to "updateLocation" of an Annotation to move it from a position to an other with smooth animation on Android ?

Its possible to do this on IOS with the module googleMap.

marker[id].updateLocation({
    latitude:lat,
    longitude:lng,
    animated: true,
    duration: 2000
});

Thanks for help.

[2019-04-03 01:05] yozef opened #263 "Android - addPolygons is not a function"
index.js
[code]
Uncomment `$.mapview.addPolygons(samplePolygons);` and you get an Error that the Function dosen't exist.

The odd thing is, I can see the method mapped in the Android Module: https://github.com/appcelerator-modules/ti.map/blob/3359e673bfb99f1973887e611b546479b47809e2/android/src/ti/map/TiUIMapView.java#L783

[2019-04-04 15:17] yozef commented on #263
Fixed it by adding in ViewProxy.java

Line 60: `private static final int MSG_ADD_POLYGONS = MSG_FIRST_ID + 904;`
Line 228:
[code]

Line 791:
[code]

[2019-04-11 10:27] emmanuelfrancis opened #264 "Cluster click auto zoom on iOS does not work"
On Android, I found that if I tap on the cluster view it auto zoom in and shows individual pins. But on iOS it does not do the same. I tried to handle the click event on map or annotation but it does not get fired. Please let me know if there any way to handle this.

[2019-04-16 07:42] dkjeune commented on #262
Hi, can someone give me an answer ?
its very important for my project.

[2019-04-23 09:41] emmanuelfrancis opened #266 "Android - After removeAllAnnotations, map click event still returns old annotation"
Below are the steps to generate the issue:

1. Add an annotation.
2. Remove annotations using removeAllAnnotations or removeAnnotation
3. Add a new annotation
4. tapping on annotation fires twice and returns both the pins old and new.

[2019-05-09 08:40] reactnative103 opened #267 "Android: Clustering only render for at least 5>= annotation and not for less than 5."
Hi,

I am using latest ti.map module version 4.3.0.

if we have 3 or 4 annotation on near by place to each other, clustering not showing for this.
While If I increase the annotation count to 5 or more, clustering is showing in android.

iOS working fine but not android.

Can you please help me out for the same.

Thanks & Regards,
Hemant Solanki

[2019-05-21 22:46] dkjeune commented on #262
nobody ?

[2019-06-06 18:01] jerry42 commented on #266
Hi,
Same problem here using android-4.4.0
Works fine with android-4.3.1 ! Guess this is why it's called pre-release ;)

[2019-06-07 18:36] m1ga commented on #267
Hi @Hemantsolanki103
I've created a PR #269 with this feature!
You can test it with [this module](http://migaweb.de/ti.map-android-4.4.1.zip)

[2019-06-08 07:18] Hemantsolanki103 commented on #267
Hi Michael,

Thanks for your great help. I am really grateful to you.

Thanks & Regards,
Hemant Solanki

On Sat, Jun 8, 2019 at 12:06 AM Michael Gangolf <notifications@github.com>
wrote:

[2019-09-29 11:21] LilianAlvarez opened #275 "[Android] addPolygon() - Unable to convert java.util.HashMap"
Hello,

I get this error in a callback of a WebService call. I add a certain number of polygons to the map using this function.
Titanium : sdk 8.2.0.GA
ti.map : 4.3.1

[ERROR] TiExceptionHandler:       $.map.addPolygon(enhancedMap.area);
[ERROR] TiExceptionHandler:             ^
[ERROR] TiExceptionHandler: Error: Unable to convert java.util.HashMap
[ERROR] TiExceptionHandler:     at Object.createP

[2019-10-03 14:28] AppWerft commented on #275
There is no validation of input. Ensure that all parts of points are double/float in in right range (90/180°)

[2019-10-04 17:31] m1ga commented on #275
@LilianAlvarez can you show the output of the webservice that is creating that error?

[2019-10-05 07:08] AppWerft commented on #275
Currently I'm developing a general import tool for geolocations. https://github.com/AppWerft/ti.map/blob/android_tileoverlay/android/src/ti/map/utils/LatLngArray.java
This class will use in all other classes that imports `points`.

[2019-10-05 07:49] LilianAlvarez commented on #275
Hello guys,
Thank you for you help, it's just my data that was corrupted. Problem fix !

Have a nice day !

[2019-10-05 07:50] #275 closed

[2019-10-05 08:26] AppWerft commented on #275
The problems:
1. toDouble() throws an exception, this will not catched,
2. new LatLng() aspects valid numbers in right range (180°/90°), this will not tested before

[2019-10-30 15:29] fede1295 opened #282 "FragmentManager: No view found for id 0x2 (unknown) for fragment SupportMapFragment"
App crash when I add the module="ti.map" to a View:

`<View id="mapView" module="ti.map">
<Annotation id='point'/>
</View>`

ti.map version 4.5.0
titanium sdk version 8.2.0

[2019-11-02 14:48] m1ga commented on #282
Did you try the syntax from: http://docs.appcelerator.com/platform/latest/#!/api/Modules.Map
[code]
with alloy.js
[code]

[2020-02-21 11:39] drauggres opened #286 "API: Map.View.animate"
Hello there.
I'm still going through documentation and APIs in order to build compelte and correct TypeScript definitions for Titanium SDK and its modules.

The problem for today is API inconsistency between `Map.View` and its parent class `Ti.UI.View`:
[code]

It is impossible (in TypeScript) to override method with property.
The best solution would be to rename `Map.View`s property (for example

[2020-03-05 16:38] drauggres commented on #286
@sgtcoolguy
@janvennemann
Sorry for call you guys, but this issue might seem as nonsense for other, but you, I think, know what I'm after.

[2020-03-06 10:20] janvennemann commented on #286
AFAIK the typescript generator has a hacky workaround for this issue, but i guess that breaks the creation dictionary since it doesn't include the `animate` property now?

I agree with you, we should rename this property so it doesn't conflict with the `animate` method from the view proxy. However, this would be considered a breaking change and ti.map is a quite popular module. So i was wondering

[2020-03-06 13:14] drauggres commented on #286
Definitions for modules shouldn't be included in `titanium.d.ts`, they should go into separate files.
So basically we don't  provide types for `ti.map` at the moment, but I generated [@ti.types/ti.map](https://www.npmjs.com/package/@ti.types/ti.map) for internal usage (and I had to [comment out](https://github.com/TiStrong/types/blob/master/types/ti.map/index.d.ts#L1836-L1840) `animate` property).

[2020-03-06 15:09] janvennemann commented on #286
Ah crap, you are right. I was thinking about this line here:

https://github.com/appcelerator/docs-devkit/blob/774051ddeed275dcb18f7e3c132b5056e947ab5e/packages/titanium-docgen/generators/typescript_generator.js#L863-L866

But that's just a leftover from the early days when i wrote the typescript generator and it would include definitions for all modules that we bundle with the SDK.

Ok, so now th

[2020-05-30 20:53] m1ga opened #300 "Android: Cluster animation error"
Getting this error from time to time but no time to create a custom animator yet to guard it:

[code]

[2020-06-19 08:19] andersdp opened #306 "ti.map.TiUIMapView.release Crash"
After updating our app to SDK 9.0.3 (from 8.3.1) we're starting to see a new crash related to ti.map

The error only occurs on Android 9 according to Play Store. This is the error log from Play Store:
[code]

Is this SDK or ti.map related?

[2020-06-26 05:14] andersdp commented on #306
No one else is seeing this?

[2020-06-28 10:09] m1ga commented on #306
No, not seeing this. Any way you can reproduce it perhaps?
But searching for FragmentManager and IllegalStateException you'll find something like https://stackoverflow.com/a/17758145/5193915 which might be a problem in this line: https://github.com/appcelerator/titanium_mobile/blob/0558c28b54dfb195d7a5c22851060e416e9811f8/android/titanium/src/java/org/appcelerator/titanium/view/TiUIFragment.java#L

[2020-06-29 06:07] andersdp commented on #306
Just checked the crash log again - 100% of the crashes happens on Huawei devices 😒 So probably nothing to do about it?
Crashes seen on Android 8.0, 8.1, 9.0 and 10.0 but only after we rolled out SDK 9.0.3, nothing before that.

<img width="487" alt="100% Huawei crashes" src="https://user-images.githubusercontent.com/4325383/85978558-4124d580-b9df-11ea-80d5-1f38922dffb6.png">

[2020-07-25 13:25] onury opened #308 "On Android there is no zoom method"
I get `.zoom is not a function error` on Android. In [latest docs](https://docs.appcelerator.com/platform/latest/#!/api/Modules.Map.View-method-zoom), `zoom` is a method. When I debug, `zoom` is actually a property on Android so I get this error. (On iOS it’s a method and works fine).

The new github.io documentation indicates zoom as both a [property](https://appcelerator.github.io/titanium-docs/

[2020-07-28 00:06] onury commented on #308
This seems to be addressed @ #291

[2020-07-28 00:06] #308 closed

[2020-10-08 18:31] ericpolkadoc commented on #282
Hi Michael,

Im getting same error with ti.map on android, just started out of the blue.

[ERROR] TiExceptionHandler: (main) [6,44061] No view found for id 0x1 (unknown) for fragment SupportMapFragment{91d3b96 (f118b8e7-cf16-4c99-8835-618101e85a9e) id=0x1}

Im using classic ti for this controller, 9.0.0.GA, ti.map v5.0.1.  I've not changed anything, seems to happen when I add the mapview to my vie

[2020-10-08 21:57] ericpolkadoc commented on #282
Michael,

Update on my issue, thought I would add it here for anyone else that might need it.

I had a console.log that was failing for some reason, I think the object was either undefined or null when the map was being generated in my view.

It looks like when my console.log error'd, it wasn't being logged in terminal, and caused the map to fail, with the error message I saw.  So the map error I

[2020-10-12 16:57] #300 closed

[2020-10-12 18:23] m1ga opened #342 "Marker info windows not opening everytime/click not working"
With the last PR (update map utils libs) the Marker popups are not opening every time and a click on the boxes don't fire a click. Still trying to find the cause.

@sgtcoolguy

[2020-10-12 18:32] m1ga commented on #342
**infoWindow click:**
https://github.com/appcelerator-modules/ti.map/blob/master/android/src/ti/map/TiMapInfoWindow.java#L208
p is null and
https://github.com/appcelerator-modules/ti.map/blob/master/android/src/ti/map/TiMapInfoWindow.java#L213
is returning 0/0 for me so it is not going into the if-case

**pin click to open infoWindow**
looks like it depends on the zoom level somehow

[2021-02-18 14:35] #342 closed

[2021-03-12 18:38] m1ga opened #421 "Android: Marker.remove() on a null object reference"
Latest ti.map module, Ti SDK 10.1.0

error:
[code]

Looks like the same fix from here:
https://github.com/appcelerator-modules/ti.map/blob/353ef697d679cd65a5882a62edbd85bf8edf2728/android/src/ti/map/TiUIMapView.java#L679
has to be added here too:

https://github.com/appcelerator-modules/ti.map/blob/353ef697d679cd65a5882a62edbd85bf8edf2728/android/src/ti/map/TiUIMapView.java#L632

will add a PR soo

[2021-09-13 10:00] m1ga opened #480 "Android: Multiple maps cause Fragmet crash"
When adding two maps into one window or view that app will crash:

[code]

crash:
[code]

According to various sources like https://stackoverflow.com/a/39441496/5193915 it seems like a clash between IDs. If I had a new class as described here https://stackoverflow.com/a/16329503/5193915

CustomMapFragment.java
[code]

and use that in https://github.com/appcelerator-modules/ti.map/blob/master/andro

[2021-11-05 15:46] m1ga opened #495 "Android: Click on pin is not fired for normal markers"
When you use a single marker (no a cluster) then the `click` event is not fired for the clicksource `pin`. If you add a `clusterIdentifier` it will fire the event

[code]

[2021-11-05 19:04] #495 closed

[2022-05-15 09:05] #267 closed

[2022-05-15 09:06] #256 closed

[2022-05-15 09:07] #231 closed

[2022-07-04 09:49] joker5135 opened #574 "Vic"

[2022-07-04 12:52] #574 closed

[2022-08-09 08:40] m1ga opened #577 "iOS: leftButton not always responding to click"
The leftButton is not always responding to a click. It sometimes stays in the "clicked" position too.

**Steps to reproduce:**
* run the example below
* click on the pin
* click on the leftButton icon
* watch the log output
* clicking the infobox works everytime

[code]